<tr>
  <td><%= article.title %></td>

  <% unless can_infer_author? %>
    <td><%= article.author.username %></td>
  <% end %>

  <td><%= render 'categories/joined', categories: article.categories %></td>
  <td>
    <% if article.draft? %>
      Draft
    <% elsif article.published? %>
      <%= time_ago_in_words(article.published_at) %> ago
    <% else %>
      Scheduled
    <% end %>
  </td>

  <td><%= link_to 'View', article %></td>

  <% authorized = logged_in? && (article.author_id == current_user.id || current_user.admin?) %>
  <% if authorized && article.discarded? %>
    <td><%= link_to 'Restore', restore_article_path(article), data: { turbo_method: :patch } %></td>
    <td>
      <%= link_to 'Delete forever', article, data: {
        turbo_method: :delete,
        turbo_confirm: %(Delete "#{article.title}" forever? You won't be able to restore it.)
      } %>
    </td>
  <% else %>
    <td><%= link_to_if authorized, 'Edit', edit_article_path(article) %></td>
    <td>
      <%= link_to_if authorized, 'Move to trash', article, data: { turbo_method: :delete } %>
    </td>
  <% end %>
</tr>
